.main {
  max-width: 50rem;
  margin: auto;
  margin-top: 20px;
}

.modal-enter {
  opacity: 0.01;
  transform: translateY(-20px);
}

.modal-enter.modal-enter-active{
  opacity: 1;
  transform: translateY(0);
  transition: all 100ms ease-in;
}

.modal-leave {
  opacity: 1;
  transform: translateY(0);
}

.modal-leave.modal-leave-active {
  opacity: 0.01;
  transform: translateY(-20px);
  transition: all 100ms ease-in;
}
