.backdrop {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 9998;
}

.myModal {
  width: 20rem;
  height: 20rem;
  position: absolute;
  left: 50%;
  right: 50%;
  margin-top: 10rem;
  margin-left: -10rem;
  z-index: 9999;
}
